
<div class="grid-container">
    <div class="algo-menu">
        <select class="algo-dropdown" name="algo-dropdown">
            <option value="option1">Dijsktra's</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <button class="remove-btn">❌</button>
        <div class="checkbox-container">
            <label for="use-bidirectional-{{id}}">Bidirectional</label>
            <input type="checkbox" id="use-bidirectional-{{id}}" name="use-bidirectional-{{id}}">
        </div>
    </div>
    <div class="grid" cellspacing="0" cellpadding="0">
        <div class="row" *ngFor="let row of range(0, gridDimensions.height);">
            <div *ngFor="let col of range(0, gridDimensions.width);">
                <ng-container *ngIf="{row: row, col: col} as pos">
                    <!--TODO: find a way to avoid evaluating expressions here-->
                    <app-tile 
                        [isStart]="isSamePos(pos, startPos)" 
                        [isGoal]="isSamePos(pos, goalPos)" 
                        [isBarrier]="hasBarrierAt(barrierGrid, row, col)" 
                        [weight]="weightAt(weightGrid, row, col)" 
                        [pathLengthFromStart]="pathLengthAt(animationFrame.pathLengthGrid, row, col)" 
                        [heuristicDistFromGoal]="distAt(heuristicDistFromGoalGrid, row, col)" 
                        [typeOfDataToDisplay]="typeOfDataDisplayedOnTile" 
                        [willDisplayTooltipOnMouseOver]="willDisplayTooltipOnMouseOver" 
                        [animationFrame]="frameAt(animationFrame.grid, row, col)" 
                        (drag)="drag.emit({event: $event, pos})" 
                        (drop)="drop.emit({event: $event, pos})" 
                        (activate)="activate.emit(pos)" 
                    >
                    </app-tile>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="grid-info">
        <div class="grid-commentary">{{animationFrame.commentary}}</div>
        <div class="grid-stats">
            <p>Expanded: {{animationFrame.countOfTilesExpanded}}</p>
            <p>Visited: {{animationFrame.countOfTilesVisited}}</p>
            <p>Path Length: {{animationFrame.finalPathLength | formatPathLength}}</p>
        </div>
    </div>
</div>