.grid-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30px;

    .grid {
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: fit-content;
    }

    .row {
        display: flex;
        justify-content: space-around;
    }

    .grid-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .grid-stats {
            margin-top: 5px;
            display: flex;
            justify-content: space-around;
        }

        .grid-stats>p {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}