<div class="page">
    <div class="toolbar">
        <h2 class="title">Pathfinding Visualiser</h2>
    </div>

    <div class="legend-container">
        <p>🟦 Expanded</p>
        <p>🟥 In Agenda</p>
        <p>🟨 Final Path</p>
        <p>⬛ Barrier</p>
        <p>⬜ Empty</p>
    </div>

    <div class="content-container">
        <div class="animation-menu">
            <div class="range-container">
                <p>Animation Delay</p>
                <input 
                    type="range" 
                    class="range" 
                    [value]="(domUpdates.animationDelay$ | async)!" 
                    min="0"
                    [max]="1000"
                    (input)="updateAnimationDelayFromRange($event)"
                />
                <p>{{(domUpdates.animationDelay$ | async)!}}ms</p>
            </div>

            <div class="media-control-container">
                <img
                    (click)="domUpdates.newAnimationIndexAction$.next({ kind: 'Decrement' })"
                    id="step-back-btn"
                    class="media-control-symbol"
                    src="./assets/step-back-button.png"
                />

                <img
                    *ngIf="(animationRunning.stream$ | async) === false"
                    (click)="domUpdates.animationRunning$.next(true)"
                    id="play-btn"
                    class="media-control-symbol"
                    src="./assets/play-button.png"
                />

                <img
                    *ngIf="(animationRunning.stream$ | async) === true"
                    (click)="domUpdates.animationRunning$.next(false)"
                    id="pause-btn"
                    class="media-control-symbol"
                    src="./assets/pause-button.png"
                />

                <img
                    (click)="domUpdates.newAnimationIndexAction$.next({ kind: 'Increment' })"
                    id="step-forward-btn"
                    class="media-control-symbol"
                    src="./assets/step-forward-button.png"
                />
            </div>

            <div class="range-container">
                <p>Step Through Frames</p>
                <input 
                    type="range" 
                    class="range" 
                    [value]="(animationIndex.stream$ | async)!" 
                    min="0"
                    [max]="(animationFramesForMultipleAlgos.stream$ | async)!.lengthOfFramesForEachAlgo - 1"
                    (input)="updateAnimationIndexFromRange($event)"
                />
                <p>{{(animationIndex.stream$ | async)! + 1}} / {{(numberOfAnimationFramesDisplay$ | async)!}}</p>
            </div>
        </div>

        <div class="grids-container">
            <div *ngFor="let algo of (pathfindingAlgos.stream$ | async)!; index as id">
                <app-grid
                    [id]="id"
                    [showRemoveBtn]="(pathfindingAlgos.stream$ | async)!.length > 1"    
                    [weightGrid]="(weightGrid.stream$ | async)!" 
                    [barrierGrid]="(barrierGrid.stream$ | async)!" 
                    [startPos]="(startPos.stream$ | async)!" 
                    [goalPos]="(goalPos.stream$ | async)!"
                    [typeOfDataDisplayedOnTile]="(domUpdates.typeOfDataDisplayedOnTile$ | async)!" 
                    [willDisplayTooltipOnMouseOver]="false" 
                    [animationFrame]="(currentAnimationFrameForMultipleAlgos.stream$ | async)!.get(algo)!" 
                    [heuristicDistFromGoalGrid]="(heuristicDistGrid.stream$ | async)!"
                    [gridDimensions]="(gridDimensions.stream$ | async)!"
                    [algo]="algo"
                    (activate)="domUpdates.activateAtPos$.next($event)"
                    (drag)="domUpdates.drag$.next($event)" 
                    (drop)="domUpdates.drop$.next($event)"
                    (remove)="domUpdates.newPathfindingAlgosAction$.next({ kind: 'Remove', index: id })"
                    (selectAlgo)="domUpdates.newPathfindingAlgosAction$.next({ kind: 'Set', index: id, algo: $event })"
                >
                </app-grid>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-grouping">
            <h2>Configure Algorithm</h2>
            <div class="sidebar-button-grouping">
                <button>Visit Order</button>
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Neighbours Allowed</h2>
            <div class="radio-button-grouping">
                <span class="radio-button">
                    <input 
                        [checked]="(domUpdates.typeOfNeighboursAllowed$ | async) === TypeOfNeighboursAllowedOption.NonDiagonals"
                        type="radio" 
                        id="non-diagonals" 
                        name="type-of-neighbours-allowed" 
                        [value]="TypeOfNeighboursAllowedOption.NonDiagonals"
                        (change)="domUpdates.typeOfNeighboursAllowed$.next(TypeOfNeighboursAllowedOption.NonDiagonals)"
                    />
                    <label for="non-diagonals">Non Diagonals</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.typeOfNeighboursAllowed$ | async) === TypeOfNeighboursAllowedOption.Diagonals" 
                        type="radio" 
                        id="diagonals" 
                        name="type-of-neighbours-allowed" 
                        [value]="TypeOfNeighboursAllowedOption.Diagonals"
                        (change)="domUpdates.typeOfNeighboursAllowed$.next(TypeOfNeighboursAllowedOption.Diagonals)"
                    />
                    <label for="diagonals">Diagonals</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.typeOfNeighboursAllowed$ | async) === TypeOfNeighboursAllowedOption.AllDirections" 
                        type="radio" 
                        id="all-directions" 
                        name="type-of-neighbours-allowed" 
                        [value]="TypeOfNeighboursAllowedOption.AllDirections"
                        (change)="domUpdates.typeOfNeighboursAllowed$.next(TypeOfNeighboursAllowedOption.AllDirections)"
                    />
                    <label for="all-directions">All Directions</label>
                </span>     
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Generate Maze</h2>
            <div class="sidebar-button-grouping">
                <button (click)="domUpdates.generateMaze$.next(MazeGenAlgoOption.Random)">Random</button>
                <button (click)="domUpdates.generateMaze$.next(MazeGenAlgoOption.Division)">Division</button>
                <button (click)="domUpdates.generateMaze$.next(MazeGenAlgoOption.FillGrid)">Filled</button>
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Grid Options</h2>
            <div class="sidebar-button-grouping">
                <button (click)="domUpdates.clearBarrierAndWeightGrids$.next()">Clear</button>
                <button>Save</button>
                <button>Load</button>
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Obstacle Placed On Tile</h2>
            <div class="radio-button-grouping">
                <span class="radio-button">
                    <input 
                        [checked]="(domUpdates.obstaclePlacedOnTile$ | async) === ObstaclePlacedOnTileOption.RandomWeight"
                        type="radio" 
                        id="random-weight" 
                        name="obstacle-placed-on-tile" 
                        [value]="ObstaclePlacedOnTileOption.RandomWeight"
                        (change)="domUpdates.obstaclePlacedOnTile$.next(ObstaclePlacedOnTileOption.RandomWeight)"
                    />
                    <label for="random-weight">Random Weight</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.obstaclePlacedOnTile$ | async) === ObstaclePlacedOnTileOption.CustomWeight" 
                        type="radio" 
                        id="custom-weight" 
                        name="obstacle-placed-on-tile" 
                        [value]="ObstaclePlacedOnTileOption.CustomWeight"
                        (change)="domUpdates.obstaclePlacedOnTile$.next(ObstaclePlacedOnTileOption.CustomWeight)"
                    />
                    <label for="custom-weight">Custom Weight</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.obstaclePlacedOnTile$ | async) === ObstaclePlacedOnTileOption.Barrier" 
                        type="radio" 
                        id="barrier" 
                        name="obstacle-placed-on-tile" 
                        [value]="ObstaclePlacedOnTileOption.Barrier"
                        (change)="domUpdates.obstaclePlacedOnTile$.next(ObstaclePlacedOnTileOption.Barrier)"
                    />
                    <label for="barrier">Barrier</label>
                </span>     
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Data Displayed On Tile</h2>
            <div class="radio-button-grouping">
                <span class="radio-button">
                    <input 
                        [checked]="(domUpdates.typeOfDataDisplayedOnTile$ | async) === TypeOfDataDisplayedOnTileOption.Weights"
                        type="radio" 
                        id="weights" 
                        name="data-displayed-on-tile" 
                        [value]="TypeOfDataDisplayedOnTileOption.Weights"
                        (change)="domUpdates.typeOfDataDisplayedOnTile$.next(TypeOfDataDisplayedOnTileOption.Weights)"
                    />
                    <label for="weights">Weights</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.typeOfDataDisplayedOnTile$ | async) === TypeOfDataDisplayedOnTileOption.PathLengthsFromStart" 
                        type="radio" 
                        id="path-lengths-from-start" 
                        name="data-displayed-on-tile" 
                        [value]="TypeOfDataDisplayedOnTileOption.PathLengthsFromStart"
                        (change)="domUpdates.typeOfDataDisplayedOnTile$.next(TypeOfDataDisplayedOnTileOption.PathLengthsFromStart)"
                    />
                    <label for="path-lengths-from-start">Path Lengths</label>
                </span>
                <span class="radio-button">
                    <input
                        [checked]="(domUpdates.typeOfDataDisplayedOnTile$ | async) === TypeOfDataDisplayedOnTileOption.HeuristicDists" 
                        type="radio" 
                        id="heuristic-dists" 
                        name="data-displayed-on-tile" 
                        [value]="TypeOfDataDisplayedOnTileOption.HeuristicDists"
                        (change)="domUpdates.typeOfDataDisplayedOnTile$.next(TypeOfDataDisplayedOnTileOption.HeuristicDists)"
                    />
                    <label for="heuristic-dists">Heuristic Distances</label>
                </span>     
            </div>
        </div>
        <div class="sidebar-grouping">
            <h2>Configure Multiple Grids</h2>
            <div class="sidebar-button-grouping">
                <button 
                    *ngIf="(shouldRenderAddGridButton$ | async) === true"
                    (click)="domUpdates.newPathfindingAlgosAction$.next({ kind: 'Add' })"
                >
                    Add
                </button>
                <button (click)="domUpdates.newPathfindingAlgosAction$.next({ kind: 'Reset' })">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
